:root {
  /* Color CSS variables */
  --color-primary: #07116b;
  --color-primary-light: hsl(234, 88%, 40%);
  --color-primary-extra-light: #5960a748;
  --color-secondary: #95deee;
  --color-tertiary: #dfedb8;
  --color-tertiary-light: #fbfcc5;
  --color-tertiary-dark: #c2e65e;
  --color-bg: #e5e5e5;
  --color-bg-dark: #f8f8f8;
  --color-grey: #999999;
  --color-grey-light: #dddddd;
  --color-white: #ffffff;
  --color-black: #000000;
  /* Font CSS variables */
  --ff-inter: "Inter", sans-serif;
  --ff-dancing: "Dancing Script", cursive;
  --ff-roboto: "Roboto", sans-serif;
  --ff-roboto-slab: "Roboto Slab", serif;
  /* Padding CSS variables*/
  --pad-inline-small: 4%;
  --pad-inline-medium: 12.5%;
  --pad-inline-large: 20%;
  --pad-block-tiny: 1rem;
  --pad-block-small: 3rem;
  --pad-block-medium: 6rem;
  --pad-block-large: 9rem;
  --pad-block-xl: 15rem;
  /* Elements height variables */
  --header-height: 3.5rem;
  --footer-height: 50vh;
  /* Breakpoints for media queries */
  /*
  bp-640px: 40em
  bp-800px: 55em
  bp-1040px: 65em
  bp-1366px: 85.375em
  bp-1040px: 65em
  */
}

@media screen and (min-width: 40em) {
  :root {
    --header-height: 4rem;
  }
}
@media screen and (min-width: 85.375em) {
  :root {
    --header-height: 5rem;
    --footer-height: 50vh;
  }
}
/* Global reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  color: var(--color-white);
  background-color: var(--color-primary);
}

*::placeholder {
  font-size: clamp(0.875rem, 0.5rem + 1.5vw, 2rem);
  opacity: 0.7;
  color: var(--color-secondary-dark);
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

/* General styling properties and typography start */
body {
  min-height: 100vh;
  font-family: var(--ff-roboto);
  font-size: clamp(1rem, 0.925rem + 0.2vw, 1.125rem);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: var(--color-primary);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  color: var(--color-primary);
  letter-spacing: 0.5px;
}

h1 {
  font-size: clamp(2.1rem, 1.56rem + 1.44vw, 3rem);
  font-weight: 500;
  text-align: center;
  margin-block: 2rem 4rem;
}

h2 {
  font-family: var(--ff-roboto-slab);
  font-size: clamp(1.25rem, 1.1rem + 0.4vw, 1.5rem);
  font-weight: 600;
}

h3,
h4 {
  font-family: var(--ff-roboto);
  font-size: clamp(1.25rem, 1.1rem + 0.4vw, 1.5rem);
  font-weight: 700;
}

p {
  font-size: clamp(1rem, 0.925rem + 0.2vw, 1.125rem);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

a {
  font-family: inherit;
  font-size: clamp(1rem, 0.925rem + 0.2vw, 1.125rem);
  font-weight: 400;
  color: var(--color-primary);
  letter-spacing: 0.5px;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

iframe {
  border: 0;
  display: block;
  max-width: 100%;
}

button,
label,
input {
  font-family: var(--ff-roboto);
  font-size: clamp(1rem, 0.925rem + 0.2vw, 1.125rem);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: var(--color-primary);
}

/* Components start */
/* Buttons start */
/* Arrow-button start */
.arrow-btn {
  padding-block: 0.5em;
  position: relative;
}
.arrow-btn svg {
  position: absolute;
  top: 30%;
  margin-left: 0.5em;
  transition: transform 0.25s ease-in-out;
}
.arrow-btn:hover svg {
  transform: translateX(1em);
}

/* Arrow-button end */
/* Section-button start */
.section-btn {
  padding: 0.75em 0 0.75em 2em;
  color: var(--color-primary);
  background-color: var(--color-secondary);
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out, padding 0.25s ease-in-out;
}
.section-btn svg {
  margin-left: 1rem;
  transform: translateY(15%);
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}
.section-btn:hover {
  padding: 0.75em 1em 0.75em 1em;
  color: var(--color-white);
  background-color: var(--color-primary);
}
.section-btn:hover svg {
  opacity: 1;
}

/* Section-button end */
/* Sightseeing-card start */
.sightseeing-card, .sightseeing-card--primary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 40rem;
  aspect-ratio: 3/2;
  padding: 2rem;
  background-image: url("../assets/images/agios_achillios.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.sightseeing-card__content-box {
  overflow: hidden;
  z-index: 20;
}
.sightseeing-card__title {
  margin-bottom: 3rem;
}
.sightseeing-card__arrow {
  opacity: 1;
  visibility: visible;
  z-index: 20;
  transition: opacity 0.5s ease-in-out;
}
.sightseeing-card__link {
  opacity: 0;
  visibility: hidden;
  z-index: 20;
  transition: opacity 0.5s ease-in-out;
}
.sightseeing-card__overlay {
  position: absolute;
  inset: 0;
  opacity: 0;
  z-index: 10;
  transition: opacity 0.5s ease-in-out;
}
.sightseeing-card--primary .sightseeing-card__title, .sightseeing-card--primary .sightseeing-card__text, .sightseeing-card--primary .sightseeing-card__link {
  color: var(--color-white);
  text-align: center;
}
.sightseeing-card--primary .sightseeing-card__overlay {
  background-color: var(--color-primary);
}

@media screen and (hover: hover) {
  .sightseeing-card, .sightseeing-card--primary {
    background-size: 100%;
    transition: background-size 0.5s ease-in-out;
  }
  .sightseeing-card__title {
    animation: titleSlideOut 0.5s ease forwards;
  }
  .sightseeing-card__text {
    animation: textSlideOut 0.5s ease forwards;
  }
  .sightseeing-card:hover, .sightseeing-card--primary:hover {
    background-size: 110%;
  }
  .sightseeing-card:hover .sightseeing-card__title, .sightseeing-card--primary:hover .sightseeing-card__title {
    animation: titleSlideIn 0.75s ease forwards;
  }
  .sightseeing-card:hover .sightseeing-card__text, .sightseeing-card--primary:hover .sightseeing-card__text {
    margin-bottom: 1rem;
    animation: textSlideIn 0.75s ease forwards;
  }
  .sightseeing-card:hover .sightseeing-card__arrow, .sightseeing-card--primary:hover .sightseeing-card__arrow {
    opacity: 0;
    visibility: hidden;
  }
  .sightseeing-card:hover .sightseeing-card__link, .sightseeing-card--primary:hover .sightseeing-card__link {
    opacity: 1;
    visibility: visible;
  }
  .sightseeing-card:hover .sightseeing-card__overlay, .sightseeing-card--primary:hover .sightseeing-card__overlay {
    opacity: 0.8;
  }
}
/* Sightseeing-card end */
/* Experience-card start */
.experience-card, .experience-card--large, .experience-card--small {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  max-width: 50rem;
  aspect-ratio: 3/2;
  padding: 2rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.experience-card__content-box {
  overflow: hidden;
  z-index: 20;
}
.experience-card__title {
  margin-bottom: 3rem;
}
.experience-card__link {
  padding: 0.5rem;
  z-index: 20;
}
.experience-card__overlay {
  position: absolute;
  inset: 0;
  opacity: 0;
  z-index: 10;
  transition: opacity 0.5s ease-in-out;
}
.experience-card--small {
  background-image: url("../assets/images/limni_prespwn_1.jpg");
}
.experience-card--small .experience-card__title, .experience-card--small .experience-card__text, .experience-card--small .experience-card__link {
  color: var(--color-white);
  text-align: center;
}
.experience-card--small .experience-card__overlay {
  background-color: var(--color-primary);
}
.experience-card--large {
  background-image: url("../assets/images/limni_prespwn_2.jpg");
}
.experience-card--large .experience-card__title, .experience-card--large .experience-card__text, .experience-card--large .experience-card__link {
  color: var(--color-white);
  text-align: center;
}
.experience-card--large .experience-card__overlay {
  background-color: var(--color-primary);
}

@media screen and (hover: hover) {
  .experience-card__title {
    animation: titleSlideOut 0.5s ease forwards;
  }
  .experience-card__text {
    animation: textSlideOut 0.5s ease forwards;
  }
  .experience-card:hover .experience-card__title, .experience-card--small:hover .experience-card__title, .experience-card--large:hover .experience-card__title {
    margin-bottom: 4rem;
    animation: titleSlideIn 0.75s ease forwards;
  }
  .experience-card:hover .experience-card__text, .experience-card--small:hover .experience-card__text, .experience-card--large:hover .experience-card__text {
    margin-bottom: 1rem;
    animation: textSlideIn 0.75s ease forwards;
  }
  .experience-card:hover .experience-card__overlay, .experience-card--small:hover .experience-card__overlay, .experience-card--large:hover .experience-card__overlay {
    opacity: 0.8;
  }
}
/* Experience-card end */
/* News-card start */
.news-card {
  position: relative;
}
.news-card__img-container {
  width: 100%;
  margin-bottom: 2rem;
  position: relative;
  overflow: hidden;
}
.news-card__img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 1s ease-in-out;
}
.news-card__date {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  background-color: var(--color-white);
  z-index: 20;
}
.news-card__title {
  margin-bottom: 2rem;
}
.news-card__text {
  margin-bottom: 2rem;
}
.news-card__link {
  opacity: 1;
  visibility: visible;
}

/* Media queries for news-card */
@media screen and (hover: hover) {
  .news-card__link {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s ease-in-out;
  }
  .news-card:hover .news-card__img-container img {
    transform: scale(1.1);
  }
  .news-card:hover .news-card__link {
    opacity: 1;
    visibility: visible;
  }
}
/* News-card end */
/* Events-card start */
.events-card {
  width: fit-content;
}
.events-card__img {
  width: 90%;
  margin-left: auto;
}
.events-card__info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 90%;
  padding: 1.5rem 2rem;
  background-color: var(--color-tertiary-light);
  margin-right: auto;
  margin-top: -3rem;
  position: relative;
  z-index: 10;
  transition: background-color 0.25s ease-in-out, margin-top 0.5s ease-in-out;
}
.events-card__info:hover {
  margin-top: -5rem;
  background-color: var(--color-secondary);
}
.events-card__info:hover .events-card__link path {
  fill: var(--color-primary);
}
.events-card__date {
  font-size: clamp(1rem, 0.93rem + 0.32vw, 1.25rem);
  font-weight: 700;
}
.events-card__title {
  font-size: clamp(1rem, 0.93rem + 0.32vw, 1.25rem);
  font-weight: 700;
}
.events-card__location-box {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.events-card__location {
  font-size: clamp(1rem, 0.93rem + 0.32vw, 1.25rem);
}
.events-card__link {
  width: fit-content;
  font-size: clamp(0.875rem, 0.8333rem + 0.1667vw, 1rem);
  font-weight: 700;
}
.events-card__link path {
  transition: fill 0.25s ease-in-out;
}

/* Trip-planner-card start */
.trip-planner-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.trip-planner-card__icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(6rem, 5.5172rem + 2.2069vw, 8rem);
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--color-secondary);
}
.trip-planner-card__icon--1, .trip-planner-card__icon--3 {
  width: clamp(2rem, 1.5172rem + 2.2069vw, 4rem);
}
.trip-planner-card__icon--2, .trip-planner-card__icon--4 {
  width: clamp(3rem, 2.5172rem + 2.2069vw, 5rem);
}
/* Trip-planner-card end */
/* Follow-us-card start */
.follow-card, .follow-card--8, .follow-card--7, .follow-card--6, .follow-card--5, .follow-card--4, .follow-card--3, .follow-card--2, .follow-card--1 {
  width: 30rem;
  aspect-ratio: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.follow-card--1 {
  background-image: url("../assets/images/follow_us_1.jpg");
}
.follow-card--2 {
  background-image: url("../assets/images/follow_us_2.jpg");
}
.follow-card--3 {
  background-image: url("../assets/images/follow_us_3.jpg");
}
.follow-card--4 {
  background-image: url("../assets/images/follow_us_4.jpg");
}
.follow-card--5 {
  background-image: url("../assets/images/follow_us_1.jpg");
}
.follow-card--6 {
  background-image: url("../assets/images/follow_us_2.jpg");
}
.follow-card--7 {
  background-image: url("../assets/images/follow_us_3.jpg");
}
.follow-card--8 {
  background-image: url("../assets/images/follow_us_4.jpg");
}
.follow-card__icon {
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 10;
}
.follow-card__text {
  position: absolute;
  top: 2rem;
  left: 5rem;
  color: var(--color-white);
  font-size: clamp(1rem, 0.93rem + 0.32vw, 1.25rem);
  font-weight: 700;
  opacity: 1;
  z-index: 10;
  transition: opacity 0.25s ease-in-out;
}
.follow-card__overlay {
  position: absolute;
  inset: 0;
  background-color: var(--color-primary);
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

/* Media quries for follow-us-card */
@media screen and (hover: hover) {
  .follow-card__text {
    opacity: 0;
  }
  .follow-card:hover .follow-card__text, .follow-card--1:hover .follow-card__text, .follow-card--2:hover .follow-card__text, .follow-card--3:hover .follow-card__text, .follow-card--4:hover .follow-card__text, .follow-card--5:hover .follow-card__text, .follow-card--6:hover .follow-card__text, .follow-card--7:hover .follow-card__text, .follow-card--8:hover .follow-card__text {
    opacity: 1;
  }
  .follow-card:hover .follow-card__overlay, .follow-card--1:hover .follow-card__overlay, .follow-card--2:hover .follow-card__overlay, .follow-card--3:hover .follow-card__overlay, .follow-card--4:hover .follow-card__overlay, .follow-card--5:hover .follow-card__overlay, .follow-card--6:hover .follow-card__overlay, .follow-card--7:hover .follow-card__overlay, .follow-card--8:hover .follow-card__overlay {
    opacity: 0.8;
  }
}
/* Follow-us-card end */
/* Events-card end */
/* Video start */
.video {
  position: relative;
  width: 40rem;
  aspect-ratio: 3/2;
  border: 2px solid red;
}
.video__overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  position: absolute;
  inset: 0;
  padding: 4rem 2rem;
  background-image: url("../assets/images/mikrolimni.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 10;
}
.video__title {
  color: var(--color-white);
}
.video__text {
  color: var(--color-white);
}
.video__play-btn-container {
  width: clamp(3rem, 2.5rem + 2.5vw, 5rem);
  aspect-ratio: 1;
  background-image: url("../assets/icons/play_btn_circle.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
  z-index: 30;
  transition: background-image 0.25s ease, transform 0.5s ease;
}
.video__play-btn-container:hover {
  transform: scale(1.2);
  background-image: url("../assets/icons/play_btn_circle_h.svg");
}
.video iframe {
  width: 100%;
  height: 100%;
}

/* Video end */
/* Swiper slider buttons start */
.slider-btn-next,
.slider-btn-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 0.75rem;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;
}
.slider-btn-next.swiper-button-disabled,
.slider-btn-prev.swiper-button-disabled {
  display: none;
}
.slider-btn-next:hover,
.slider-btn-prev:hover {
  background-color: var(--color-secondary);
}

.slider-btn-prev svg {
  transform: rotate(180deg);
}

/* Swiper slider buttons end */
/* Back-to-top button start */
.back-to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  width: var(--header-height);
  aspect-ratio: 1;
  background-color: var(--color-secondary);
  cursor: pointer;
  z-index: 110;
}

/* Back-to-top button end */
/* Card animation */
@keyframes textSlideIn {
  0% {
    opacity: 0;
    transform: translateY(200%);
  }
  80% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes textSlideOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  20% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    transform: translateY(200%);
  }
}
@keyframes titleSlideIn {
  0% {
    transform: translateY(6rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes titleSlideOut {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(6rem);
  }
}

/*# sourceMappingURL=style.css.map */
