/* Components start */

/* Buttons start */

/* Arrow-button start */
.arrow-btn {
  padding-block: 0.5em;
  position: relative;

  & svg {
    position: absolute;
    top: 30%;

    margin-left: 0.5em;
    transition: transform 0.25s ease-in-out;
  }

  &:hover svg {
    transform: translateX(1em);
  }
}
/* Arrow-button end */

/* Section-button start */
.section-btn {
  padding: 0.75em 0 0.75em 2.5em;
  color: var(--color-primary);
  background-color: var(--color-secondary);

  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out,
    padding 0.25s ease-in-out;

  & svg {
    margin-left: 1rem;
    transform: translateY(15%);

    opacity: 0;
    transition: opacity 0.25s ease-in-out;
  }

  &:hover {
    padding: 0.75em 1em 0.75em 1.5em;
    color: var(--color-white);
    background-color: var(--color-primary);

    & svg {
      opacity: 1;
    }
  }
}
/* Section-button end */

/* Buttons end */

// /* Section-title container start */

// .intro {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   gap: 1.5rem;

//   width: 95%;
//   margin: 7rem auto 3rem;

//   position: relative;

//   &__title {
//     flex-basis: max-content;

//     margin-left: 2rem;

//     position: relative;
//     z-index: 20;
//   }

//   &__start-dec {
//     position: absolute;
//     top: 0;
//     left: 0;
//     transform: translateY(-30%);

//     height: clamp(4rem, 3.5556rem + 1.7778vw, 5rem);
//     // height: 5rem;
//     aspect-ratio: 1;

//     background-image: url('../assets/icons/separator_icon_1.svg');
//     background-size: contain;
//     object-position: center;
//     background-repeat: no-repeat;

//     z-index: 10;
//   }

//   &__end-dec {
//     flex-shrink: 1;
//     flex-grow: 1;

//     transform: translateY(-4px);

//     display: flex;
//     align-items: center;
//     justify-content: flex-start;

//     position: relative;
//     z-index: 20;
//   }

//   &__line {
//     height: 2px;
//     width: 100%;

//     background-color: var(--color-grey-light);
//   }

//   &__circle {
//     border: 2px solid var(--color-grey-light);

//     &--empty {
//       width: 0.75em;
//       height: 0.75em;
//       border-radius: 50%;
//     }

//     &--content {
//       flex-shrink: 0;

//       border-radius: 100vh;
//       background-color: var(--color-grey-light);
//       transition: background-color 0.25s ease-in-out,
//         border-color 0.25s ease-in-out;

//       &:hover {
//         background-color: var(--color-secondary-light);
//         border-color: var(--color-secondary-light);
//       }

//       & a {
//         font-size: clamp(0.75rem, 0.715rem + 0.16vw, 0.875rem);
//         padding: 0.5em 1em;
//       }
//     }
//   }
// }

// /* Media queries for section intro */
// @media screen and (min-width: 40em) {
//   .intro {
//     flex-direction: row;
//     align-items: baseline;
//     gap: 2rem;

//     width: 90%;
//     // margin: 4rem auto;
//   }
// }

// @media screen and (min-width: 40em) {
//   .intro {
//     margin: 10rem auto 5rem;
//   }
// }

// /* Section-title container end */

/* Sightseeing-card start */
.sightseeing-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  padding: clamp(1rem, 0.0769rem + 4.1026vw, 5rem);

  background-image: url('../assets/images/agios_achillios.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;

  &__content-box {
    overflow: hidden;
    margin-bottom: 2rem;
    z-index: 20;
  }

  &__title {
    margin-bottom: 2rem;
  }

  &__text {
    max-width: 65ch;
  }

  &__arrow {
    opacity: 1;
    visibility: visible;

    z-index: 20;
    transition: opacity 0.5s ease-in-out;
  }

  &__link {
    opacity: 0;
    visibility: hidden;

    z-index: 20;
    transition: opacity 0.5s ease-in-out;
  }

  &__overlay {
    position: absolute;
    inset: 0;

    opacity: 0.5;
    z-index: 10;
    transition: opacity 0.5s ease-in-out;
  }

  &--primary {
    @extend .sightseeing-card;
    & .sightseeing-card__title,
    & .sightseeing-card__text,
    & .sightseeing-card__link {
      color: var(--color-white);
      text-align: center;
    }

    & .sightseeing-card__overlay {
      background-color: var(--color-primary);
    }
  }

  //   &--secondary {
  //     @extend .sightseeing-card;
  //     & .sightseeing-card__title,
  //     & .sightseeing-card__text,
  //     & .sightseeing-card__link {
  //       color: var(--color-primary);
  //     }

  //     & .sightseeing-card__overlay {
  //       background-color: var(--color-secondary-light);
  //     }
  //   }
}

@media screen and (hover: hover) {
  .sightseeing-card {
    background-size: 120%;
    transition: background-size 0.5s ease-in-out;

    &__title {
      margin-bottom: 3rem;
      animation: titleSlideOut 0.5s ease forwards;
    }

    &__text {
      animation: textSlideOut 0.5s ease forwards;
    }

    &:hover {
      background-size: 130%;

      & .sightseeing-card__title {
        animation: titleSlideIn 0.75s ease forwards;
      }

      & .sightseeing-card__text {
        animation: textSlideIn 0.75s ease forwards;
      }

      & .sightseeing-card__arrow {
        opacity: 0;
        visibility: hidden;
      }

      & .sightseeing-card__link {
        opacity: 1;
        visibility: visible;
      }

      & .sightseeing-card__overlay {
        opacity: 0.8;
      }
    }
  }
}

/* Sightseeing-card end */

/* Experience-card start */
.experiences-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  width: 100%;
  // aspect-ratio: 3 / 2;
  min-height: 23rem;
  padding: 3rem 1rem;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;

  &__content-box {
    overflow: hidden;
    z-index: 20;
  }

  &__title {
    margin-bottom: 3rem;
  }

  &__text {
    max-width: 65ch;
  }

  &__link {
    padding: 0.5rem;
    z-index: 20;
  }

  &__overlay {
    position: absolute;
    inset: 0;

    opacity: 0.4;
    z-index: 10;
    transition: opacity 0.5s ease-in-out;
  }

  &--small {
    @extend .experiences-card;
    background-image: url('../assets/images/limni_prespwn_1.jpg');

    & .experiences-card__title,
    & .experiences-card__text,
    & .experiences-card__link {
      color: var(--color-white);
      text-align: center;
    }

    & .experiences-card__overlay {
      background-color: var(--color-primary);
    }
  }

  &--large {
    @extend .experiences-card;
    background-image: url('../assets/images/limni_prespwn_2.jpg');

    & .experiences-card__title,
    & .experiences-card__text,
    & .experiences-card__link {
      color: var(--color-white);
      text-align: center;
    }

    & .experiences-card__overlay {
      background-color: var(--color-primary);
    }
  }
}

@media screen and (hover: hover) {
  .experiences-card {
    &__title {
      animation: titleSlideOut 0.5s ease forwards;
    }

    &__text {
      animation: textSlideOut 0.5s ease forwards;
    }

    &:hover {
      & .experiences-card__title {
        margin-bottom: 4rem;
        animation: titleSlideIn 0.75s ease forwards;
      }

      & .experiences-card__text {
        margin-bottom: 1rem;
        animation: textSlideIn 0.75s ease forwards;
      }

      & .experiences-card__link {
      }

      & .experiences-card__overlay {
        opacity: 0.8;
      }
    }
  }
}
/* Experiences-card end */

/* News-card start */
.news-card {
  position: relative;

  &__img-container {
    width: 100%;
    margin-bottom: 2rem;
    position: relative;

    overflow: hidden;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;

      transition: transform 1s ease-in-out;
    }
  }

  // &__date {
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;

  //   padding: 0.5rem;
  //   background-color: var(--color-white);

  //   z-index: 20;s
  // }

  &__title {
    margin-bottom: 2rem;
  }

  &__text {
    margin-bottom: 2rem;
  }

  &__link {
    opacity: 1;
    visibility: visible;
  }
}

/* Media queries for news-card */
@media screen and (hover: hover) {
  .news-card {
    &__link {
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.25s ease-in-out;
    }
    &:hover {
      & .news-card__img-container img {
        transform: scale(1.1);
      }

      & .news-card__link {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
/* News-card end */

/* Events-card start */
.events-card {
  // width: fit-content;

  &__img {
    width: 90%;
    margin-left: auto;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 90%;
    padding: 1.5rem 1.5rem;
    background-color: var(--color-tertiary-light);
    margin-right: auto;
    margin-top: -3rem;
    // transform: translateY(-20%);

    position: relative;
    z-index: 10;
    // transition: background-color 0.25s ease-in-out, transform 0.5s ease-in-out;
    transition: background-color 0.25s ease-in-out, margin-top 0.5s ease-in-out;

    &:hover {
      // transform: translateY(-30%);
      margin-top: -5rem;
      background-color: var(--color-secondary);

      & .events-card__link {
        & path {
          fill: var(--color-primary);
        }
      }
    }
  }

  &__date {
    font-size: clamp(1rem, 0.93rem + 0.32vw, 1.25rem);
    font-weight: 700;
  }

  &__title {
    // font-size: clamp(1rem, 0.86rem + 0.64vw, 1.5rem);
    font-size: clamp(1rem, 0.93rem + 0.32vw, 1.25rem);
    font-weight: 700;
  }

  &__location-box {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__location-icon {
  }

  &__location {
    font-size: clamp(1rem, 0.93rem + 0.32vw, 1.25rem);
  }

  &__link {
    width: fit-content;
    font-size: clamp(0.875rem, 0.8333rem + 0.1667vw, 1rem);
    font-weight: 700;

    & path {
      transition: fill 0.25s ease-in-out;
    }
  }
}

/* Trip-planner-card start */
.trip-planner-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  // width: fit-content;

  &__icon-box {
    display: flex;
    justify-content: center;
    align-items: center;

    width: clamp(6rem, 5.5172rem + 2.2069vw, 8rem);
    aspect-ratio: 1;
    border-radius: 50%;

    background-color: var(--color-secondary);
  }

  &__icon--1,
  &__icon--3 {
    width: clamp(2rem, 1.5172rem + 2.2069vw, 4rem);
  }

  &__icon--2,
  &__icon--4 {
    width: clamp(3rem, 2.5172rem + 2.2069vw, 5rem);
  }

  &__title {
  }
}
/* Trip-planner-card end */

/* Follow-us-card start */
.follow-card {
  width: 100%;
  aspect-ratio: 1;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;

  &--1 {
    @extend .follow-card;
    background-image: url('../assets/images/follow_us_1.jpg');
  }

  &--2 {
    @extend .follow-card;
    background-image: url('../assets/images/follow_us_2.jpg');
  }

  &--3 {
    @extend .follow-card;
    background-image: url('../assets/images/follow_us_3.jpg');
  }

  &--4 {
    @extend .follow-card;
    background-image: url('../assets/images/follow_us_4.jpg');
  }

  &--5 {
    @extend .follow-card;
    background-image: url('../assets/images/follow_us_1.jpg');
  }

  &--6 {
    @extend .follow-card;
    background-image: url('../assets/images/follow_us_2.jpg');
  }

  &--7 {
    @extend .follow-card;
    background-image: url('../assets/images/follow_us_3.jpg');
  }

  &--8 {
    @extend .follow-card;
    background-image: url('../assets/images/follow_us_4.jpg');
  }

  &__icon {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 10%;

    z-index: 10;
  }

  &__text {
    position: absolute;
    top: 5%;
    left: 20%;

    color: var(--color-white);
    font-size: clamp(1rem, 0.93rem + 0.32vw, 1.25rem);
    font-weight: 700;

    opacity: 1;
    z-index: 10;
    transition: opacity 0.25s ease-in-out;
  }

  &__overlay {
    position: absolute;
    inset: 0;

    background-color: var(--color-primary);
    opacity: 0;

    transition: opacity 0.25s ease-in-out;
  }
}

/* Media queries for follow-us-card */
@media screen and (hover: hover) {
  .follow-card {
    &__text {
      opacity: 0;
    }
    &:hover {
      & .follow-card__text {
        opacity: 1;
      }
      & .follow-card__overlay {
        opacity: 0.8;
      }
    }
  }
}
/* Follow-us-card end */

/* Events-card end */

/* Cards end */

/* Video start */
.video {
  width: 100%;
  height: clamp(25rem, 80vh, 60rem);

  position: relative;

  &__overlay {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;

    position: absolute;
    inset: 0;

    padding: 3rem 1rem;
    background-image: url('../assets/images/mikrolimni.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    z-index: 10;
  }

  &__title {
    font-size: clamp(1.5rem, 1.1731rem + 1.5385vw, 3rem);
    color: var(--color-white);
  }

  &__text {
    max-width: 60ch;
    color: var(--color-white);
  }

  &__play-btn-container {
    flex-shrink: 0;
    width: clamp(3rem, 2.5rem + 2.5vw, 5rem);
    aspect-ratio: 1;

    background-image: url('../assets/icons/play_btn_circle.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    cursor: pointer;
    z-index: 30;
    transition: background-image 0.25s ease, transform 0.5s ease;

    &:hover {
      transform: scale(1.2);
      background-image: url('../assets/icons/play_btn_circle_h.svg');
    }
  }

  & iframe {
    width: 100%;
    height: 100%;
  }
}
/* Video end */

/* Swiper slider buttons start */
.slider-btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.slider-btn-next,
.slider-btn-prev {
  display: flex;
  justify-content: center;
  align-items: center;

  width: fit-content;
  padding: 0.75rem;
  background-color: transparent;

  cursor: pointer;
  transition: background-color 0.25s ease-in-out;

  &.swiper-button-disabled path {
    fill: var(--color-grey-light);

    &:hover {
      background-color: transparent;
    }
  }

  &:hover {
    background-color: var(--color-secondary);
  }
}

.slider-btn-prev svg {
  transform: rotate(180deg);
}
/* Swiper slider buttons end */

/* Back-to-top button start */
.back-to-top {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  bottom: 0;
  right: 0;
  width: var(--header-height);
  aspect-ratio: 1;

  background-color: var(--color-secondary);

  cursor: pointer;
  z-index: 110;
}
/* Back-to-top button end */

/* Accessibility widget start */
#accessibilityBar {
  position: fixed;
  bottom: 0.5rem;
  right: var(--header-height);

  display: flex;
  flex-direction: column;

  transform: translateX(calc(100% + var(--header-height)));

  background-color: var(--color-white);
  border: 3px solid var(--color-primary-light);
  border-radius: 5px;

  z-index: 9998;

  transition: transform 0.5s ease-in-out, box-shadow 0.25s ease-in-out 0.25s;

  & button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;

    padding: 0.5em;
    border: none;
    background-color: transparent;
    font-weight: 700;
    text-transform: capitalize;
    cursor: pointer;

    position: relative;
    transition: background-color 0.25s ease-in-out;

    &:hover {
      background-color: var(--color-secondary);
    }
  }

  & button:not(:last-child) {
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 3px;
      width: 100%;
      background-color: var(--color-primary-light);
    }
  }
}

#accessibilityBar.active {
  transform: translateX(0);
  box-shadow: 0 5px 15px 10px rgb(34 34 34 / 20%);
}

body.accessibility_readingLine #readingLine {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100vw;
  height: 0.5rem;
  background-color: #ef3934;

  z-index: 9999;
}

body.accessibility_markerLine #markerLine {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100vw;
  height: 1.75rem;
  transform: translateY(-1rem);
  background-color: #e4fd00;
  opacity: 0.75;

  z-index: 9999;
}

body.contrast * {
  background-color: #000 !important;
  color: #e4fd00 !important;
  fill: #e4fd00 !important;
  stroke: #e4fd00 !important;
}

.accessibility-item-icon {
  display: inline-block;
  margin-right: 0.5em;
}

.contrast-icon {
}

.increase-font-icon {
}

.original-font-icon {
}

.decrease-font-icon {
}

.marker-icon {
}

.line-icon {
}

.reset-icon {
}
/* Accessibility widget end */

/* Components end */
