/* Header styling start */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding-block: 1rem;

  background-color: transparent;

  transition: background-color 0.25s ease, box-shadow 0.25s ease;

  &__logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    width: fit-content;
    margin-left: 0.5rem;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;

    // width: var(--header-height);
    // aspect-ratio: 1;

    & img {
      width: 90%;
      height: 90%;
    }
  }

  &__logo-title {
    font-family: var(--ff-dancing);
    font-size: clamp(1.5rem, 1.2586rem + 1.1034vw, 2.5rem);
    color: var(--color-white);
  }

  &__nav {
    position: fixed;
    top: var(--header-height);
    bottom: 0;
    left: 0;
    right: var(--header-height);

    transform: translateX(calc(100% + var(--header-height)));

    background-color: var(--color-secondary);
    transition: transform 0.5s ease-in-out;
  }

  &__nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.75rem;

    margin-top: 1.5rem;
    padding-inline: 1rem;
  }

  &__nav-link {
    padding: 0.5em 0;
    font-family: var(--ff-roboto-slab);
    font-weight: 700;
    color: var(--color-white);

    position: relative;
    transition: color 0.25s ease-in-out;

    &:hover {
      color: var(--color-secondary);
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 4px;
      left: 0;
      height: 2px;
      width: 100%;
      background-color: currentColor;

      transform: scaleX(0);
      transform-origin: center;
      transition: transform 0.25s ease-in-out;
    }
  }

  &__icon-list {
    margin-left: auto;
  }

  &__icon-item {
    cursor: pointer;

    & p {
      color: var(--color-white);
    }

    & svg {
      width: clamp(1.1rem, 0.7327rem + 1.4694vw, 2rem);
      fill: var(--color-white);
    }

    &:hover svg {
      fill: var(--color-secondary);
      stroke: var(--color-secondary);
    }

    &:hover p {
      color: var(--color-secondary);
    }
  }

  &__icon-item:not(:first-child) {
    display: none;
  }

  &__search {
    & svg {
      stroke: var(--color-white);
    }
  }

  &__weather {
    & img {
      width: 3rem;
      aspect-ratio: 1;
    }
    & p {
      font-size: 0.875rem;
    }
  }

  &__map {
  }

  &__ham-menu {
    flex-shrink: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: var(--header-height);
    aspect-ratio: 1;
    background-color: var(--color-primary);

    cursor: pointer;

    & .line-center,
    & .line-center::before,
    & .line-center::after {
      height: 3px;

      background-color: var(--color-white);
      transform-origin: center;

      transition: all 0.35s ease-in-out;
    }

    & .line-center {
      width: 30%;
      position: relative;
    }

    & .line-center::before,
    & .line-center::after {
      content: '';
      position: absolute;
      left: 50%;
      width: 150%;

      transform: translateX(-50%);
    }

    & .line-center::before {
      top: -0.75rem;
    }

    & .line-center::after {
      bottom: -0.75rem;
    }

    &--open {
      &:hover .line-center {
        transform: scaleX(1.25);
      }

      &:hover .line-center::before,
      &:hover .line-center::after {
        transform: translateX(-50%) scaleX(0.45);
      }
    }

    &--close {
      & .line-center {
        width: 50%;
        transform: rotate(-45deg);
      }

      & .line-center::before {
        display: none;
      }
      & .line-center::after {
        width: 100%;
        bottom: 0;
        transform: translateX(-50%) rotate(90deg);
      }
    }
  }

  &--scrolled {
    background-color: var(--color-white);
    // box-shadow: 0 1px 10px 0 var(--color-grey-light);

    & .header__logo-title {
      color: var(--color-primary);
    }

    & .header__nav-link {
      color: var(--color-primary);
    }

    & .header__icon-item {
      & svg {
        fill: var(--color-primary);
      }

      & p {
        color: var(--color-primary);
      }
    }

    & .header__search {
      & svg {
        stroke: var(--color-primary);
      }
    }
  }
}

/* Media queries for header */
@media screen and (min-width: 40em) {
  .header {
    &__icon-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;

      margin: 0 0.75rem 0 auto;
    }

    &__icon-item:not(:first-child) {
      display: flex;
    }

    &__icon-item {
      display: flex;
      align-items: center;
    }
  }
}

@media screen and (min-width: 85.375em) {
  .header {
    gap: 1.5rem;

    &__nav {
      position: unset;
      margin: 0 auto;

      transform: translateX(0);
      background-color: transparent;
    }

    &__nav-list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 1.5rem;

      margin-top: 0;
    }

    &__icon-list {
      margin-left: 0;
    }
  }
}
/* Header styling end */

/* Expandable menu styling start */
.full-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  position: fixed;

  transition: transform 0.5s ease-in-out;

  &--left {
    top: var(--header-height);
    left: 0;
    bottom: 0;
    right: var(--header-height);

    padding: 1rem 1rem 1rem 4rem;
    background-color: var(--color-secondary-light);

    z-index: 99;
  }

  &--right {
    bottom: 0;
    right: var(--header-height);
    left: 0;

    padding: 1rem;
    background-color: var(--color-primary);
    color: var(--color-white);

    z-index: 100;

    & .full-menu__list-item:nth-child(1),
    & .full-menu__list-item:nth-child(2),
    & .full-menu__list-item:nth-child(3),
    & .full-menu__list-item:nth-child(4),
    & .full-menu__list-item:nth-child(5) svg,
    & .full-menu__list-item:nth-child(6) svg {
      display: none;
    }

    & .full-menu__link {
      color: var(--color-white);

      &::before {
        background-color: var(--color-white);
      }
    }
  }

  &__overlay {
    position: fixed;
    top: var(--header-height);
    left: 0;
    bottom: 0;
    right: var(--header-height);

    background-color: var(--color-secondary-light);
    z-index: 97;
  }

  &--collapse {
    &.full-menu--left {
      transform: translateX(calc(100% + var(--header-height)));
    }

    &.full-menu--right {
      transform: translateX((calc(100% + var(--header-height))));
    }
  }

  &__back-btn {
    position: absolute;
    top: 1rem;
    left: 1rem;

    background-color: transparent;
    border: none;

    & svg {
      transform: rotate(180deg);
    }
  }

  &__list-title {
    font-size: clamp(1.25rem, 0.8125rem + 2.1875vw, 3rem);
    margin-bottom: 4vh;
    font-weight: 700;
  }

  &__list-item {
    font-weight: 400;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__link {
    padding: 0.25em 0;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 100%;

      transform: scaleX(0);
      transform-origin: center;
      transition: transform 0.25s ease-in-out;
    }

    &:hover::before {
      transform: scaleY(1);
    }
  }

  /* full-menu--0 */
  &--0 {
  }

  &__img-wrapper {
    display: none;
    max-height: 80%;
    overflow: hidden;
  }

  /* full-menu--1 */
  &--1 {
    display: block;
    padding: 1rem 1rem 1rem 4rem;
  }

  &__services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
  }

  &__service-item {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 6rem;
    border: 2px solid var(--color-primary);
    padding: 0.5rem;
    cursor: pointer;

    transition: background-color 0.25s ease-in-out;

    &:hover {
      background-color: var(--color-primary-extra-light);
    }

    & p {
      font-size: clamp(1rem, 0.8333rem + 0.6667vw, 1.5rem);
      font-weight: 700;
    }
  }

  /* full-menu--2*/
  &--2 {
  }
  /* full-menu--3*/
  &--3 {
  }
  /* full-menu--4*/
  &--4 {
  }
  /* full-menu--5*/
  &--5 {
    flex-direction: column;
    justify-content: flex-start;
    gap: 5rem;
  }

  &__search-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;

    min-width: 85%;
  }

  &__search-input {
    padding: 1rem 0rem;
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--color-secondary-light);
    border-bottom: 2px solid var(--color-primary);
  }

  &__search-btn {
    margin-bottom: 0.5rem;

    & .btn-sliding__overlay {
      background-color: var(--color-secondary);
    }
  }

  /* full-menu--right */
  &__contact {
    & ul {
      gap: 1rem;
    }

    & li svg {
      display: block;
      margin-bottom: 1rem;
    }
  }
}
/* Media queries for expandable menu */
@media screen and (min-width: 40em) {
  .full-menu {
    &--left {
      padding: 1.5rem 1.5rem 1.5rem 5rem;
    }

    &__back-btn {
      top: 1.5rem;
      left: 1.5rem;
    }

    &__search-form {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-bottom: 2px solid var(--color-primary);
    }

    &__search-input {
      border: none;
    }
  }
}

@media screen and (min-width: 55em) {
  .full-menu {
    &--left {
      padding: 2rem 2rem 2rem 6rem;
    }
    &__back-btn {
      top: 2rem;
      left: 2rem;
    }
  }
}

@media screen and (min-width: 65em) {
  .full-menu {
    &--left {
      padding: 2.5rem 2.5rem 2.5rem 7rem;
    }
    &__back-btn {
      top: 2.5rem;
      left: 2.5rem;
    }
  }
}

@media screen and (min-width: 85.375em) {
  .full-menu {
    flex-direction: row;

    top: var(--header-height);
    right: var(--header-height);
    padding-top: 10vh;

    transition: transform 0.5s ease-in-out;

    &--left {
      left: var(--header-height);
      bottom: 10%;
      width: calc(((100% - (var(--header-height) * 2)) * 0.75));

      justify-content: flex-start;
      gap: 3rem;
      z-index: 99;

      & .full-menu__link::before {
        background-color: var(--color-primary);
      }
    }

    &--right {
      left: calc(((100% - var(--header-height)) * 0.7));
      padding-left: 5%;

      justify-content: center;

      z-index: 98;

      & .full-menu__list-item:nth-child(1),
      & .full-menu__list-item:nth-child(2),
      & .full-menu__list-item:nth-child(3),
      & .full-menu__list-item:nth-child(4) {
        display: unset;
      }

      & .full-menu__list-item:nth-child(5) svg,
      & .full-menu__list-item:nth-child(6) svg {
        display: block;
      }

      & .full-menu__list-item:nth-child(4) {
        margin: 1rem 0 10vh;
      }

      & .full-menu__list-item:nth-child(5) {
        margin: 1rem 0 3rem;
      }

      & .full-menu__link {
        color: var(--color-white);

        &::before {
          background-color: var(--color-white);
        }
      }
    }

    &__overlay {
      background-color: var(--color-white);
    }

    &--collapse {
      &.full-menu--left {
        transform: translateY((calc(-100% - var(--header-height))));
      }

      &.full-menu--right {
        transform: translateX((calc(100% + var(--header-height))));
      }
    }

    &__back-btn {
      display: none;
    }

    &--1 {
      padding-inline: 10%;
    }

    &--5 {
      flex-direction: column;
      justify-content: flex-start;
      gap: 5rem;
    }

    &__img-wrapper {
      display: unset;
    }

    &__municipality,
    &__services,
    &__administration,
    &__culture,
    &__tourism {
      flex-shrink: 0;
    }

    &__services {
    }

    &__service-item {
    }

    &__contact {
    }
  }
}
/* Expandable menu styling end */

/* Aside nav right styling start */
.aside {
  &--right {
    background-color: transparent;
    transition: all 0.15s ease;
  }
  &__nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    margin-block: 1.5rem;
  }

  &__nav {
    margin-bottom: var(--header-height);
  }

  &__list-item {
    width: fit-content;
    cursor: pointer;

    & svg {
      width: clamp(1.35rem, 1.0847rem + 1.0612vw, 2rem);
    }

    & path {
      fill: var(--color-white);
    }

    & circle {
      stroke: var(--color-white);
    }

    &:hover path {
      fill: var(--color-secondary);
      stroke: var(--color-secondary);
    }

    &:hover circle {
      stroke: var(--color-secondary);
    }
  }

  &__language {
  }

  &__login {
    margin-bottom: 5vh;
  }

  &__facebook {
  }

  &__instagram {
  }

  &__youtube {
    margin-bottom: 10vh;
  }

  &__accessibility {
    & button {
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }

  &--scrolled {
    &.aside--right {
      background-color: var(--color-white);
      // box-shadow: 1px 0 8px 0 var(--color-grey-light);
    }

    & .aside__list-item {
      & path {
        fill: var(--color-primary);
      }

      & circle {
        stroke: var(--color-primary);
      }
    }
  }
}
/* Aside nav right styling end */

/* Hero section styling start */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 100vh;

  background-image: linear-gradient(rgba(#000, 0.2) 0%, rgba(#000, 0.15) 100%),
    url('../assets/images/hero_image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: darken;

  position: relative;

  &__title {
    max-width: 15ch;
    color: var(--color-white);

    position: relative;
    z-index: 20;
  }

  &__subtitle {
    font-family: var(--ff-dancing);
    font-size: clamp(1.25rem, 0.9776rem + 1.2821vw, 2.5rem);
    line-height: 0.7;

    position: relative;
    z-index: 20;
  }

  &__subtitle--1 {
    @extend .hero__subtitle;
    color: var(--color-secondary);
  }

  &__subtitle--2 {
    @extend .hero__subtitle;
    color: var(--color-tertiary);
  }

  // &__fader {
  //   position: absolute;
  //   inset: 0;

  //   background-image: linear-gradient(
  //     to bottom,
  //     rgba(7, 17, 107, 1) 0%,
  //     rgba(7, 17, 107, 0.1) 25%,
  //     rgba(7, 17, 107, 0.1) 25%,
  //     rgba(7, 17, 107, 0.1) 60%,
  //     rgba(7, 17, 107, 0.1) 60%,
  //     rgba(255, 255, 255, 0.15) 80%,
  //     rgba(255, 255, 255, 0.15) 80%,
  //     rgba(255, 255, 255, 1) 100%
  //   );

  //   z-index: 10;
  // }

  &__fader-top,
  &__fader-bottom {
    position: absolute;
    left: 0;
    width: 100%;

    & svg {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__fader-top {
    top: -1px;
  }

  &__fader-bottom {
    bottom: -1px;
  }
}
/*Media queries for hero section */
@media screen and (min-width: 65em) {
  .hero {
    // &__background-container {
    //   background-attachment: fixed;
    // }
  }
}
/* Hero section styling end */

/* Sightseeing section styling start */
.sightseeing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--section-gap-internal);

  padding-top: var(--padding-section);

  &__title {
  }

  &__content-wrapper {
    display: grid;
    grid-template-areas:
      'card1'
      'card2'
      'card3';

    align-items: center;
    justify-items: center;

    row-gap: 1rem;
  }

  &__item--1 {
    grid-area: card1;
  }

  &__item--2 {
    grid-area: card2;
  }

  &__item--3 {
    grid-area: card3;
  }
}

/* Media queries sightseeing section */
@media screen and (min-width: 60em) {
  .sightseeing {
    &__content-wrapper {
      grid-template-areas:
        'card1 card2'
        'card1 card3';

      grid-template-columns: 1.33fr 1fr;
      row-gap: 2rem;
      column-gap: 2rem;
    }
  }
}
/* Sightseeing section styling end */

/* Experiences section styling start */
.experiences {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--section-gap-internal);

  padding-top: var(--padding-section);

  &__title {
  }

  &__content-wrapper {
    display: grid;
    grid-template-areas:
      'card1'
      'card2'
      'card3'
      'card4';

    row-gap: 1rem;
  }

  &__item--1 {
    grid-area: card1;
  }

  &__item--2 {
    grid-area: card2;
  }

  &__item--3 {
    grid-area: card3;
  }

  &__item--4 {
    grid-area: card4;
  }
}
/* Media queries for experiences section */
@media screen and (min-width: 60em) {
  .experiences {
    &__content-wrapper {
      grid-template-areas:
        'card1 card2'
        'card3 card4';

      grid-template-rows: 25rem 25rem;
      column-gap: 2rem;
      row-gap: 2rem;
    }
  }
}

@media screen and (min-width: 80em) {
  .experiences {
    &__content-wrapper {
      grid-template-areas:
        'card1 card2 card3'
        'card4 card4 card4';
    }
  }
}
/* Experiences section styling end */

/* News section styling start */
.news {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--section-gap-internal);

  padding-top: var(--padding-section);

  &__title {
  }

  &__btn-box {
  }

  &__slider {
    width: 100%;
    margin-bottom: 1.5rem;
  }
}
/* News section styling end */

/* Video-presenation section styling start */
.video-presentation {
  padding-top: var(--padding-section);
}
/* Video-presenation section styling end */

/* Events section styling start */
.events {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--section-gap-internal);

  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);

  &__title {
  }

  &__btn-box {
  }

  &__slider {
    width: 100%;
    margin-bottom: 1.5rem;
  }
}
/* Events section styling start */

/* Newsletter section styling start */
.newsletter {
  padding-block: calc(var(--padding-section) / 2);
  padding-inline: 10vw;
  background-color: var(--color-tertiary);

  &__title {
    margin-bottom: 2rem;
    line-height: 1.3;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  &__input-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  &__input {
    padding: 0.25em 0.75em;
    border: 0;

    &:focus-within {
      outline: 2px solid var(--color-primary);
    }
  }

  &__policy {
    max-width: 65ch;
    font-size: clamp(0.75rem, 0.7099rem + 0.1887vw, 0.875rem);
  }

  &__btn {
    padding: 0.75em 2.15em;
    border: 0;
    background-color: var(--color-primary);
    font-size: clamp(0.875rem, 0.8478rem + 0.1282vw, 1rem);
    font-weight: 700;
    color: var(--color-white);

    cursor: pointer;
    transition: all 0.25s ease-in-out;

    &:hover {
      background-color: var(--color-secondary);
      color: var(--color-primary);
    }
  }
}
/* Newsletter section styling end */

/* Trip-planner section styling start */
.trip-planner {
  padding-top: var(--padding-section);

  &__title {
    margin-bottom: var(--margin-normal);
  }

  &__info-box {
    display: grid;
    row-gap: 3rem;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 25em) {
  .trip-planner {
    &__info-box {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 3rem;
      column-gap: 1rem;
    }
  }
}

@media screen and (min-width: 50em) {
  .trip-planner {
    &__info-box {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      row-gap: 3rem;
    }
  }
}
/* Trip-planner section styling end */

/* Follow-us section styling start */
.follow {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);

  &__title {
    margin-bottom: var(--margin-normal);
  }

  &__content-box {
    display: grid;
    gap: var(--flex-gap-small);
  }
}

/* Media queries for follow-us section */
@media screen and (min-width: 50em) {
  .follow {
    &__content-box {
      display: grid;
    }
  }
}
/* Follow-us section styling end */

// /* parallax-footer */
// @media screen and (min-width: 65em) {
//   .parallax-footer {
//     width: 100%;
//     min-height: var(--footer-height);
//     pointer-events: none;
//     position: relative;
//     z-index: -2;
//   }
// }

.parallax-footer {
  width: 100%;
  height: var(--footer-height);
  background-color: var(--color-primary);
  pointer-events: none;
  position: relative;
  z-index: -3;
}

/* Footer styling start */
.footer {
  // min-height: calc(100vh - var(--header-height));
  padding-block: var(--header-height);
  padding-inline: 8vw;
  background-color: var(--color-primary);

  position: relative;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }

  &__logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    max-width: 8rem;

    & img {
      width: 60%;
      height: 100%;

      object-fit: contain;
      object-position: center;
    }
  }

  &__logo-title {
    font-size: 1.25rem;
    color: var(--color-white);
  }

  &__nav {
  }

  &__link-list {
    display: grid;
    grid-template-areas:
      'useful contact'
      'about social'
      'policy policy';

    height: 100%;
    column-gap: 1rem;
    row-gap: 1rem;
  }

  &__useful {
    grid-area: useful;
  }

  &__contact {
    grid-area: contact;
  }

  &__about {
    grid-area: about;
  }

  &__social {
    grid-area: social;
  }

  &__policy {
    grid-area: policy;

    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    gap: 0.5rem;
  }

  &__list-item:not(:last-child) {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 1.5rem;
  }

  &__item-title {
    margin-bottom: 0.5rem;
    font-family: var(--ff-roboto-slab);
    font-weight: 700;
    color: var(--color-white);
  }

  &__link {
    padding: 0.25rem;
    color: var(--color-white);

    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;

    &:hover {
      // border-radius: 1px;
      // background-color: var(--color-primary-extra-light);
      color: var(--color-secondary);
    }
  }

  &__fader {
    position: absolute;
    bottom: 1px;
    left: 0;
    right: 0;

    transform: translateY(100%);
  }

  &__img-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    height: var(--footer-height);

    background-image: url('../assets/images/footer_image.jpg');
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;

    z-index: -1;
  }
}

/* Media queries for footer */
// @media screen and (min-width: 40em) {
//   .footer {
//     padding-block: 3rem 1rem;
//   }
// }

@media screen and (min-width: 55em) {
  .footer {
    &__logo-container {
      & img {
        width: 80%;
      }
    }

    &__link-list {
      grid-template-areas:
        'useful contact about social'
        'policy policy policy policy';

      column-gap: 2rem;
      row-gap: 4rem;
    }

    &__list-item:not(:last-child) {
      align-items: flex-start;
      gap: 0.5rem;
    }

    &__item-title {
      margin-left: 0.25rem;
    }

    &__policy {
      gap: 1.5rem;
    }
  }
}

@media screen and (min-width: 65em) {
  .footer {
    // position: fixed;
    // bottom: 0;
    // left: var(--header-height);
    // right: var(--header-height);
    // min-height: var(--footer-height);
    // padding: 8vh 3rem 4vh;

    &__content {
      flex-direction: row;
      align-items: flex-start;
      gap: 2rem;
    }

    &__link-list {
      justify-items: start;
      column-gap: 2vw;
      row-gap: 12vh;
    }

    &__list-item {
      // justify-content: flex-start;
    }
  }
}

@media screen and (min-width: 85.375em) {
  .footer {
    &__logo-container {
      width: 15%;

      & img {
        width: 100%;
      }
    }

    &__link-list {
      column-gap: 5vw;
    }
  }
}
/* Footer styling end */
