/* Home page general layout start */
.header {
  position: fixed;
  inset: 0;
  height: var(--header-height);

  z-index: 100;
}

.aside {
  position: fixed;
  top: var(--header-height);
  bottom: 0;

  width: var(--header-height);
  background-color: transparent;

  transition: transform 0.5s ease-in-out;

  &--right {
    @extend .aside;
    right: 0;
    z-index: 101;
    transform: translateX(100%);
  }
}

.main {
  position: relative;
  z-index: 1;

  background-color: var(--color-white);
}

.parallax-wrapper {
  height: 100%;
  width: 100%;

  overflow-x: hidden;
  overflow-y: auto;

  position: relative;
}

/* Media queries for layouts */
@media screen and (min-width: 55em) {
  .parallax-wrapper {
  }

  .aside {
    &--right {
      transform: translateX(0);
    }
  }
}

/* Home page general layout end */
